<div *ngIf="(appData$ | async) as _appData" class="preview">
  <div class="topSide">
    <ul>
      <li>فرم پیشفرض</li>
      <li>فرم خطی</li>
      <li>فرم جدولی</li>
    </ul>
  </div>
  <!-- --- -->
  <div class="details">
    <div class="patient">
      <h3>نام بیمار:
        {{_appData.name}}
      </h3>
      <h3 class="mr-100">تاریخ:
        {{_appData.date}}
      </h3>
    </div>

    <!-- --- -->
    <div class="table">
      <dental-row-box-preview type="caries" [adultData]="_appData.adult" [childrenData]="_appData.children">
      </dental-row-box-preview>
      <!-- --- -->
      <dental-row-box-preview type="retained" [adultData]="_appData.adult" [childrenData]="_appData.children">
      </dental-row-box-preview>
      <!-- --- -->
      <dental-row-box-preview type="lesion" [adultData]="_appData.adult" [childrenData]="_appData.children">
      </dental-row-box-preview>
      <!-- --- -->
      <dental-row-box-preview type="boneLoss" [adultData]="_appData.adult" [childrenData]="_appData.children">
      </dental-row-box-preview>
    </div>

  </div>
  <!-- --- -->
  <div class="actions">
    <button mat-stroked-button>پاک کردن کامل</button>
    <button mat-stroked-button>Redo</button>
    <button mat-stroked-button>Undo</button>
    <button mat-stroked-button>Print</button>
  </div>
</div>
